
<div class="photo"><img class="photo" height="<%= 150 %>" width="<%= 150 %>" src="https://robohash.org/<%=robot.data[:avatar_id]%>" alt="No Picture"/></div>

<% attributes = robot.data %>

<ul>
  <% attributes.each do |attribute, value|
     if attribute != :name %>
    <li> <%= attribute%>: <%= value %></li>
    <% end
   end %>
</ul>
